.tree {
  :global {
    .ant-tree-switcher-icon {
      font-size: 14px !important;
    }
    .ant-tree-switcher {
      display: flex;
      align-items: center;
    }
  }
}

.modal {
  padding: 0 !important;
  :global {
    .ant-modal-title {
      height: 50px;
      line-height: 50px;
      padding-left: 20px;
    }
    .ant-modal-content {
      padding: 0;
      margin: 0;
    }
    .ant-spin-container {
      border-radius: 20px;
      overflow: hidden;
    }
  }
}
